<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Sning 项目</title>
<meta name="keywords" content="个人博客,Sning个人博客,宋高明" />
<meta name="description" content="Sning个人博客，学无止境，勇于探索。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/css/base.css" rel="stylesheet">
<link href="static/css/index.css" rel="stylesheet">
<link href="static/css/m.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <div id="mnav">
    <div class="logo"><a href="/">Sning个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
        <li><a href="index.html">首页</a></li>
        <li><a href="blog_list=9900.html">博客</a></li>
        <li><a href="write.html">写作</a></li>
        <li><a href="share.html">项目</a></li>
        <li><a href="file.html">文件</a></li>
        <li><a href="about.html">关于</a></li>
    </ul>
  </div>
<script>
window.onload = function ()
{
  var oH2 = document.getElementById("mnavh");
  var oUl = document.getElementById("starlist");
  oH2.onclick = function ()
  {
    var style = oUl.style;
    style.display = style.display == "block" ? "none" : "block";
    oH2.className = style.display == "block" ? "open" : ""
  }
var obj=null;
var As=document.getElementById('starlist').getElementsByTagName('a');
obj = As[0];
for(i=1;i<As.length;i++){if(window.location.href.indexOf(As[i].href)>=0)
obj=As[i];}
obj.id='selected'
}
</script>
</header>
<article>
  <h1 class="t_nav"><span>好咖啡要和朋友一起品尝，好项目也要和同样喜欢它的人一起分享。 </span><a href="/" class="n1">首 页</a><a href="/share.html" class="n2">项目分享</a></h1>
  <div class="picbox">
    <ul>
      <li><a title="点击图片下载源码" href="static/share/face_gui.zip" download="face_gui.zip"><i><img src="static/share/face_gui.jpg"></i></a>
        <div class="picinfo">
          <h3 title="点击图片下载源码" >Face_recognition+PyQt5人脸识别实时监控</h3>
          <span>&nbsp; &nbsp; &nbsp; &nbsp; 基于 face_recognition 优化生成已存人脸特征信息，通过opencv实时从摄像头或网络采集视频流进行人脸识别，根据判断结果作相应的处理</span> </div>
        </li>

      <li><a href="/"><i><img src="static/images/b06.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《早安》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
    </ul>
    <ul>
      <li><a title="点击图片下载源码" href="static/share/myweb.zip" download="myweb.zip"><i><img src="static/share/myweb.jpg"></i></a>
        <div class="picinfo">
          <h3 title="点击图片下载源码" >Tornado+MariaDB个人博客站</h3>
          <span>&nbsp; &nbsp; &nbsp; &nbsp;  基于Python3 Tornado的博客站,数据库使用MariaDB,富文本编辑器采用著名的ckeditor5,Html模板来自网络</span> </div>
      </li>
      <li><a href="/"><i><img src="static/images/b03.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《早安》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
    </ul>
    <ul>
      <li><a title="点击图片下载源码" href="static/share/song.zip" download="song.zip"><i>
        <img src="static/share/flutter_song.jpg"></i>
        <div class="picinfo">
          <h3>Google跨平台框架Flutter下的诗词app,本地化sqlite数据库</h3>
          <span>使用Dart语言下Flutter框架，基于开源唐诗宋词数据仓库，python脚本从json数据生成sqlites数据库，程序主要涉及：sqfite插件操作数据库，自定义Dialog弹窗，ListView侧边滚动条实现，持续化程序界面风格如字体，背景等的实现。</span> 
          <a href="static/share/song.apk">&nbsp; &nbsp;点击此处下载应用</a>
        </div>
        </a>
      </li>
      <li><a href="/"><i><img src="static/images/b04.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《早安》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
    </ul>
  </div>
  <div class="sidebar">
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">&nbsp;
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="lmnav">
      <h2 class="hometitle">快速导航</h2>
      <ul class="navbor">
        <li><a href="#">Python</a>
          <ul>
            <li><a href="#">数据可视化</a></li>
            <li><a href="#">人脸识别</a></li>
            <li><a href="#">人工智能</a></li>
          </ul>
        </li>
        <li><a href="share.html">Linux</a>
          <ul>
            <li><a href="list.html">系统/软件安装配置</a></li>
            <li><a href="#">交叉编译</a></li>
          </ul>
        </li>
        <li><a href="list.html">Java</a>
          <ul>
            <li><a href="list.html">学习笔记</a></li>
            <li><a href="#">HTML5+CSS3</a></li>
            <li><a href="#">网站建设</a></li>
          </ul>
        </li>
        <li><a href="#">慢生活</a></li>
      </ul>
    </div>
   
    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>
        <a href="/">Python</a>
        <a href="/">html5</a>
        <a href="/">校园生活</a>
        <a href="/">人脸识别</a>
        <a href="/">青春</a>
        <a href="/">温暖</a>
        <a href="/">数据可视化</a>
        <a href="/">学无止境</a>
        <a href="/">Linux</a>
        <a href="/">Java</a>
        <a href="/">C/C++</a>
      </ul>
    </div>
    <div class="paihang">
      <h2 class="hometitle">站长推荐</h2>
      <ul>
        <li><b><a href="/download/div/2015-04-10/746.html" target="_blank">【活动作品】柠檬绿兔小白个人博客模板30...</a></b>
          <p><i><img src="static/images/t02.jpg"></i>展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标...</p>
        </li>
        <li><b><a href="/download/div/2014-02-19/649.html" target="_blank"> 个人博客模板（2014草根寻梦）30...</a></b>
          <p><i><img src="static/images/b03.jpg"></i>2014第一版《草根寻梦》个人博客模板简单、优雅、稳重、大气、低调。专为年轻有志向却又低调的草根站长设...</p>
        </li>
      </ul>
    </div>
    <div class="weixin">
      <h2 class="hometitle">官方微信</h2>
      <ul>
        <img src="static/images/wx.jpg">
      </ul>
    </div>
  </div>
</article>
<footer>
  <p>Design by <a href="/">Sning</a> 
  <a href="http://www.yangqq.com" target="_blank">模板来自：杨青个人博客</a>
  </p>
</footer>
</body>
</html>
