@charset "UTF-8";
/* 共用css */
* { margin: 0; padding: 0 }
body { overflow:scroll;overflow-x:hidden;margin-top:50px;font: 16px "Microsoft YaHei", Arial, Helvetica, sans-serif; color: #555; background: #f1f1f1; line-height: 1.5; }
img { border: 0; display: block }
ul, li { list-style: none; }
/*默认链接颜色 */
a { text-decoration: none; color: #555 }
.clear { clear: both; }
.blank { height: 99px; overflow: hidden; width: 100%; margin: auto; clear: both }
.f_l { float: left }
.f_r { float: right }
article { margin-top: 50px;overflow: hidden }

/* header*/
header { width: 100%; color: #FFF; opacity:0.8;background: #333; line-height: 46px; overflow: hidden; position: fixed; top: 0; z-index: 100 }
.logo { float: left; font-size: 22px }
#mnav { width: 1100px; margin: auto }
#mnav a { color: #FFF }
#mnavh { display: none; width: 30px; height: 40px; float: right; text-align: center; padding: 0 5px }
#starlist { float: right;  }
#starlist li { float: left; display: block; padding: 0 0 0 40px; font-size: 16px }
.navicon { display: block; position: relative; width: 30px; height: 5px; background-color: #FFFFFF; margin-top: 20px }
.navicon:before, .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #FFFFFF; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -10px; }
.navicon:after { margin-top: 10px; }
.open .navicon { background: none }
.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.open .navicon:before, .open .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #fff; }
/**/

footer {width: 100%; background: #333; color: #a5a4a4; text-align: center; padding: 15px 0; }
footer a { color: #a5a4a4 }
/* 分页 */
.pagelist { text-align: center; color: #666; width: 100%; clear: both; margin: 20px 0; padding-top: 20px }
.pagelist a { color: #666; margin: 0 2px; border: 1px solid #000; padding: 5px 10px; }
.pagelist a:hover { color: #f00; text-decoration: underline }
.pagelist > b { border: 1px solid #000; padding: 5px 10px; }
/*content*/

h1.t_nav span { float: right; color: #999 }
h1.t_nav { margin-bottom: 30px; border-bottom: #bfbfbf 1px solid; font-size: 16px; font-weight: normal; line-height: 40px; width: 100%; overflow: hidden }
h1.t_nav a { width: 100px; display: block; text-align: center; color: #fff; float: left }
.n1 { font-size:21px;background: #5EA51B; }
.n2 { font-size:18px;background: #00CC33; }
.n3 { font-size:15px;background: #8BBF5D; }
.litle { font-size: 20px; margin: 20px 0 0 0; border-bottom: #d6d5d5 1px solid; padding-bottom: 5px; padding: 10px 0 10px 100px; color: #000; background: url(../images/jdbg.png) no-repeat left center; }
.litle span { float: right; font-size: 14px; color: #666; font-weight: normal }
.ab_box { padding: 20px; overflow: hidden; background: rgba(255,255,255,1); margin-top: 20px }
main {
    overflow: hidden;
    z-index: 1;
    display: block;
    position: relative;
}